%h1 Welcome to Test App!!!

%p We have successfully set up an email that will be sent to people, now all we need is a mailer site and an action to send the email which in this case will be when a new user is created.