// Each tag has there own size. For exmaple as you can see each h tag has there own size
%h1 H1
%h2 H2
%h3 h3
%h4 h4
%h5 h5
%h6 h6
%p p

// If you want a list with dots you can do this
%ul
  // Just put this instead of this
  %li #{@h} 1
  // That little trick is more usefull instead of just that.
  %li Hey 2
  %li Hey 3
// If you want a list with numbers you can do this
%ol
  %li Hey 1
  %li Hey 2
  %li Hey 3
