// I will change the color to white so you can see the different colors
html body {
  background-color: white;
}
// You can also change the color of the tags here
h1 , h2, h3, h4, h5, h6 {
  color: cyan;
}
p {
  color: green;
}

li{
  color: blue;
}
// Well thats how you get started to use Ruby on Rails next will be a simple post setup.
