%h1 Editing post

// This renders that _form.html.haml file in the posts folder which is the last file we were in.
= render 'form'

= link_to 'Show', @post
\|
= link_to 'Back', root_path
// To make all of are back links go to root path instead of posts index page
